<%- include('./partials/header') %>
<body>
    <h1 class="movie-header">Movies</h1>
    <a class="waves-effect waves-light btn" href="/">Home</a>
    <a class="waves-effect waves-light btn" href="/movies/new">Add Movie</a>
    <a class="waves-effect waves-light btn" href="/actors">Actors</a>
    <div class="movie-div">
        <% movies.forEach((movie, i) => { %>
            <div class="movieParade">
                <h4 id="name"><%= movie.name %></h4>
                <a href="/movies/<%= i %>"><img id="image" src="<%= movie.image %>"></img></a>
                
            </div>
        <% }) %>
        </div>  
</body>
<%- include('./partials/footer') %>