<%- include('./partials/header') %>
<body>
    <h1 class="movie-header">Movies</h1>
    <a href="/">Back to Home</a>
    <a href="/movies/new">Add a Movie</a>
    <div class="movie-div">
        <% movies.forEach((movie, i) => { %>
            <div class="movieParade">
                <h4>Movie Name: <%= movie.name %></h4>
                <h4>Release Date: <%= movie.releaseDate %></h4>
                <p>Description: <%=movie.description %></p>
                <a href="/movies/<%= i %>">More info about <%= movie.name %></a>
            </div>
        <% }) %>
        </div>  
</body>
<%- include('./partials/footer') %>